html, body {
     margin: 0pt;
     padding: 0pt;
}

#pagewidth {
     margin-left: auto;
     margin-right: auto;
     width: 692px;
}

#header {
     background-color: #FFFFFF;
     display: block;
     height: 100px;
     overflow: auto;
     position: relative;
     width: 100%;
}

#logo2 {
     left: 455px;
     position: absolute;
     top: 50px;
}

#full {
     background-color: #FFFFFF;
}

#footer {
     background-color: #FFFFFF;
     bottom: 0px;
     clear: both;
     display: block;
     height: 38px;
     overflow: auto;
     position: absolute;
}

#loginform {
     overflow: auto;
     width: 640px;
}

.field {
     margin-left: auto;
     margin-right: auto;
     padding: 5px;
     width: 270px;
}

label {
     display: block;
     float: left;
     font-family: Arial,Verdana;
     font-size: 15px;
     font-weight: bold;
     line-height: 30px;
     margin-right: 10px;
     text-align: right;
     width: 78px;
}

.input {
     border: 1px solid #B9BDC1;
     font-family: Arial,Verdana;
     font-size: 15px;
     padding: 5px;
     width: 120px;
}

.button {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
}

.clearfix:after {
     clear: both;
     content: ".";
     display: block;
     height: 0pt;
     visibility: hidden;
}

.clearfix {
     display: inline-block;
}

* html .clearfix {
     height: 1%;
}

.clearfix {
     display: block;
}
